{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Pop Sushi</title>


    
    <meta name="viewport"
        content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">

        <link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet"> 
        <script src="https://use.fontawesome.com/502b7294a9.js"></script>
        <link rel="stylesheet" type="text/css"  href="{% static 'css/estilosx.css'  %}"> 
        <link rel="stylesheet" type="text/css"  href="{% static 'css/footerx.css'  %}"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
    
    <style>

    </style>
</head>

<body> 


          <div id="preloader"> <!-- se usa id porque utilizaremos jquery--> 
           <div id="loader"></div>
        </div>

      <!--  barra de redes sociales --> 
        <div class="red">
                <div id="facebook"><a href="https://www.facebook.com" target="none" class="fa fa-facebook"></a></div>
                <div id="youtube"><a href="https://www.youtube.com"  target="none" class="fa fa-youtube-play"></a></div>
                <div id="twitter"><a href="https://twitter.com/?lang=es"  target="none" class="fa fa-twitter"></a></div>
                <div id="correo"><a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"  target="none"class="fa fa-envelope"></a></div>
          </div>

    <header class="header" id="headerr">
        <div class="contenedor">
      <img src= "{% static  'img/logo.png'  %}"  class="logo">
            <span class="icon-menu" id="btn-menu"></span>
            <nav class="nav" id="nav">
                <ul class="menu">
                
               

                 {% if user.is_authenticated %}
                 
                    <li class="menu__item"><a href="{% url 'home' %}"" class="menu__link">Inicio</a></li>
                    <li class="menu__item"><a href="{% url 'info' %}" class="menu__link">Quienes Somos</a></li>
                    <li class="menu__item"><a href="{% url 'galeria' %}" class="menu__link">Galeria</a></li>
                     <li class="menu__item"><a href="{% url 'carta' %}" class="menu__link">La Carta</a></li>
                     
                    <li class="menu__item"><a href="{% url 'eventos' %}" class="menu__link">Evento Especiales</a></li>
                   <li class="menu__item"><a href="{% url 'contacto' %}" class="menu__link">Contacto</a></li>
                   <li class="menu__item"><a href="/logout" class="menu__link" style="color:red">Cerrar Sesion</a></li>
                
                  {% else %}
                  <li class="menu__item"><a href="{% url 'home' %}"" class="menu__link">Inicio</a></li>
                    <li class="menu__item"><a href="{% url 'info' %}" class="menu__link">Quienes Somos</a></li>
                    <li class="menu__item"><a href="{% url 'galeria' %}" class="menu__link">Galeria</a></li>
                     <li class="menu__item"><a href="{% url 'carta' %}" class="menu__link">La Carta</a></li>                  
                   <li class="menu__item"><a href="{% url 'contacto' %}" class="menu__link">Ubicación</a></li>
                   <li class="menu__item"><a href="{% url 'registro_usuario' %}" class="menu__link">Registrate</a></li>
                   <li class="menu__item"><a href="{% url 'login' %}" class="menu__link">Login</a></li>
                  {% endif %}
               





                </ul>
            </nav>
        </div>

    </header>

      
       
  <main>

            {% block Contenido %}


            {% endblock %}


    </main>
   <footer>
  <div class="container">
    <div class="row">

       {% if user.is_superuser %}
        <div class="col-lg-4 col-md-6">
        <h3>Super Usuario</h3>
        <ul class="list-group">
          <li>{{user.username}}</li>   
        <li><a href="{% url 'lista'%}">Reservas</a></li>
         <li><a href="/admin">Admin Panel</a></li>
      
       {% elif perms.core.view_reserva %} 
      <div class="col-lg-4 col-md-6">
        <h3>Administracion</h3>
        <ul class="list-group">
          <li>{{user.username}}</li>   
        <li><a href="{% url 'lista'%}">Reservas</a></li>

            
       

         {% elif user.is_authenticated %} 
      <div class="col-lg-4 col-md-6">
        <h3>Usuario</h3>
        <ul class="list-group">
          <li>{{user.username}}</li>  
        
         
          {% else %}
          <div class="col-lg-4 col-md-6">
        <h3>Usuario</h3>
        <ul class="list-group">
           <li><a href="{% url 'login'%}" >Loguin requerido</a></li>

          {% endif %} 
          
        </ul>
        <ul class="list-unstyled socila-list">
          <li><img src= "{% static 'imgc/facebook.png'  %}" alt="" /></li>
          <li><img src= "{% static 'imgc/instagram.png'  %}" alt="" /></li>
          <li><img src= "{% static 'imgc/twitter.png'  %}" alt="" /></li>
          
        </ul>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <h3>HORARIO</h3>
        <div class="media">      
          <div class="media-body">
            
            <p>Lunes a Sábado: 18:00 a 22:45 hrs.</p>
            <p> Pedidos a domicilio. </p>
            <p> Telefono : +(569)59799621 </p>
            <p>Consulte costo por entrega fuera de la zona de reparto.</p>
          </div>
        </div>
        
      
        
       
        
      </div>
      
      <div class="col-mg-4">
        <h3>        Metodos de Pago</h3>
         
        <img src= "{% static 'imgc/tp.jpg'  %}" style="padding-left:50px" alt="" />
      
      </div>
      
    </div>
  </div>
  <div class="copyright text-center">
    Copyright &copy; 2019 <span>PopSushi</span>
  </div>
</footer>

<script src= "{% static   'js/jquery.js'  %}"></script>
<script src = "{% static  'js/menu.js'   %}"></script>

</html>