{% extends 'core/base.html' %}
{% load static %}

{% block Contenido %}



     <div class="container" style="padding-top:60px;">
          <div class="row box-tri">
            <div class="col-xs-20 col-sm-4 tri-box">
                 
                  <img src= "{% static 'imgc/1.jpg'  %}" class="img-responsive"><br>
                   <img src= "{% static 'imgc/2.jpg'  %}" class="img-responsive"><br>
                    <img src= "{% static 'imgc/22.jpg'  %}" class="img-responsive"><br>
                     <img src= "{% static 'imgc/3.jpg'  %}" class="img-responsive"><br>
                  
                  
      
                
              <p class="list-group-item-heading"></p></div>
             <div class="col-xs-12 col-sm-4 tri-box">
             <img src= "{% static 'imgc/4.jpg'  %}" class="img-responsive"><br>
                   <img src= "{% static 'imgc/hanamaki.jpg'  %}" class="img-responsive"><br>
                    <img src= "{% static 'imgc/44.jpg'  %}" class="img-responsive"><br>
                     <img src= "{% static 'imgc/5.jpg'  %}" class="img-responsive"><br>
                     <img src= "{% static 'imgc/batera.jpg'  %}" class="img-responsive"><br>
                    <img src= "{% static 'imgc/55.jpg'  %}" class="img-responsive"><br>
                     <img src= "{% static 'imgc/6.jpg'  %}" class="img-responsive"><br>
                
               
               
               <p>&nbsp;</p>
             </div>
             <div class="col-xs-12 col-sm-4 tri-box">
                 <img src= "{% static 'imgc/7.jpg'  %}" class="img-responsive"><br>
                     <img src= "{% static 'imgc/8.jpg'  %}" class="img-responsive"><br>
                 
 
            </div>
          </div>
      </div>

{% endblock %}