    
   
{% extends "core/base.html" %}


{% load static %}




{% block Contenido %}


<section class="quienes" id="quienessomos">
                    <div class="contenedor">
                        <h3 class="quienes-titulo">Quienes somos </h3>
                        <p class="quienes-parrafo">Nuestra misión es entregar el mejor SUSHI a nuestros clientes con ingredientes frescos, en un formato adecuado y en el menor tiempo posible.
                                Para ello contamos con experimentados cocineros, selectos proveedores y suministros de alta calidad.
                                Como local anexo a Pop Sushi Restaurant nuestros estándares son los más altos tanto en preparación, cuidado y presentación de nuestras recetas.
                                Encontrará preparaciones tradicionales que garantizan una experiencia única para aquellos que no nos conocen y la tradición de siempre para nuestros clientes de toda la vida.</p>
                     </div> 
                 </section>


   <div class="carrusel" >
                      <ul>
                        <li><img src= "{% static  'img/img1.jpg'  %}"></li>
                                    <li><img src= "{% static  'img/img2.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img3.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img4.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img2.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img3.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img4.jpg' %}"></li>
                                     <li><img src= "{% static  'img/img2.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img3.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img4.jpg' %}"></li>
                                     <li><img src= "{% static  'img/img2.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img3.jpg' %}"></li>
                                    <li><img src= "{% static  'img/img4.jpg' %}"></li>
         </div> 


{% endblock %}
      
