{% extends 'core/base.html' %}
{% load static %}
{% block css %}
 <link href="https://file.myfontastic.com/t5tNwfwUapz4yDzK3B6sfe/icons.css" rel="stylesheet"> 
        <script src="https://use.fontawesome.com/502b7294a9.js"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

 {% block Contenido %}
                      
 <section class="quienes" id="quienessomos">
                    <div class="contenedor">
                        <h3 class="quienes-titulo">Quienes somos </h3>
                        <p class="quienes-parrafo">

                        Somos una empresa familiar con más de 25 años de trayectoria otorgando servicios gastronómicos y turísticos en Chile.
                        La hospitalidad y cordialidad que ponemos al servicio de nuestros clientes forman parte del sello de nuestra casa.
                        
                                <p class="quienes-parrafo">

                        
                       La Cocina Japonesa es una de las más deliciosas, sofisticadas y sanas del mundo.
                       Se trata de una cocina milenaria, rica en productos frescos y que proporciona una dieta equilibrada usando las grasas en su justa medida, de allí nuestro nombre,  
                       “OISHI” que significa delicioso, sabroso, algo con buen sabor.
                       OISHI SUSHI comenzó como una alternativa por la demanda en este tipo de comidas, ofreciendo como atractivo lo que se conoce popularmente como sushi o 
                       rollos pero también con un amplio menú para complacer los gustos de nuestros clientes.
                       
                       Nos distinguimos por ser un selecto restaurante japonés que prepara exquisitos platos y que les da a sus clientes un servicio de primera, en  Oishi Sushi  hemos cautivado los paladares de los amantes de la comida Japonesa, transformando los mejores ingredientes importados,  nacionales y frescos que Chile nos ofrece en tradicionales platillos Japoneses.
                       Hemos logrado la consolidación de nuestro nombre a través del trabajo con dedicación y esfuerzo, cariño y honestidad. Desde 2008 mantenemos una tradición que se encuentra respaldada por nuestros propios clientes y nos ha posicionado dentro del amplio mercado de Restaurantes en Santiago de Chile como una de las opciones más atractivas a precios competitivos.
                       Los Esperamos
                                </p>
                     </div> 
                 </section>
                      {% endblock %}